<header>
  <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: rgb(8, 13, 61)">
    <div class="container-fluid">
    <a class="navbar-brand " href="#" style="color: rgb(139, 40, 40);">Movie Booking App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    
    <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()">
      Logout
    </button>
    </div>
  </nav>
 
</header>

<router-outlet>
</router-outlet>
<div class="bg-blue py-4 footer" style="background-color: rgb(11, 15, 53); color: white;">
    <div class="row "> <small class="fottext text-center">Copyright&copy;2023. All rights reserved.</small>
        <div class="social-contact ml-4 ml-sm-auto text-center">
          <span class="fa fa-facebook mr-4 text-sm"></span> &nbsp;
          <span class="fa fa-linkedin mr-4 text-sm"></span> &nbsp;
          <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> 
      </div>
    </div>
</div>
